<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form (ngSubmit)="agregarEmpleado()" class="needs-validation" novalidate>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" [(ngModel)]="empleado.nombre" name="nombre" required>
          <div class="invalid-feedback">
            Por favor, ingresa el nombre.
          </div>
        </div>

        <div class="form-group">
          <label for="correo">Correo</label>
          <input type="email" class="form-control" id="correo" [(ngModel)]="empleado.correo" name="correo" required>
          <div class="invalid-feedback">
            Por favor, ingresa un correo válido.
          </div>
        </div>

        <div class="form-group">
          <label for="telefono">Teléfono</label>
          <input type="text" class="form-control" id="telefono" [(ngModel)]="empleado.telefono" name="telefono" required>
          <div class="invalid-feedback">
            Por favor, ingresa el teléfono.
          </div>
        </div>

        <div class="form-group">
          <label for="fechaNacimiento">Fecha de Nacimiento</label>
          <input type="date" class="form-control" id="fechaNacimiento" [(ngModel)]="empleado.fechaNacimiento" name="fechaNacimiento" required>
          <div class="invalid-feedback">
            Por favor, ingresa la fecha de nacimiento.
          </div>
        </div>

        <div class="form-group">
          <label>Sexo</label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="masculino" [(ngModel)]="empleado.sexo" name="sexo" value="Masculino" required>
            <label class="form-check-label" for="masculino">Masculino</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="femenino" [(ngModel)]="empleado.sexo" name="sexo" value="Femenino" required>
            <label class="form-check-label" for="femenino">Femenino</label>
          </div>

        </div>

        <button type="submit" class="btn btn-primary">Añadir</button>
      </form>
    </div>
  </div>
</div>
