<div class="container mt-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Correo</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Fecha de Nacimiento</th>
        <th scope="col">Sexo</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empleado of empleados; let i = index">
        <td>{{ empleado.nombre }}</td>
        <td>{{ empleado.correo }}</td>
        <td>{{ empleado.telefono }}</td>
        <td>{{ empleado.fechaNacimiento }}</td>
        <td>{{ empleado.sexo }}</td>
        <td>
          <button (click)="eliminarEmpleado(i)" class="btn btn-danger btn-sm">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
